# https://github.com/github/gitignore


# Python
# * https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/


# Visual Studio Code
# * https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
.vscode/
workspace.code-workspace


# MS Word artifacts
*.wbk
~$*.docx
~$*.docm
~*.tmp


# WWN folders
WordWebNav--Word-HTML/
